<template>
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 col-sm-6 order-2 order-sm-1 p-0 text-center"
        style="position: relative"
      >
        <!-- BTN Telefono -->
        <div id="tooltip_example">
          <span class="mb-0 text-white"
            >Un ejecutivo se pondrá en contacto contigo.</span
          >
        </div>
        <img
          src="img/btn_telefono.svg"
          height="70"
          alt="compra-tel"
          v-on:click="show = !show"
          class="btn"
          tabindex="0"
          target="_blank"
          rel="nofollow"
          role="button"
          @click="saveInteraccion()"
          v-bind:class="{
            disabled: this.$store.state.config.habilitarBtnInteraccion,
          }"
          v-if="$store.state.config.emision === true"
        />
        <!-- </a> -->
        <!--<div
          v-if="show"
          style="
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgb(222 222 222);
          "
          class="triangulo mx-auto mb-0"
        ></div>
        <div
          v-if="show"
          style="
            padding: 10px;
            width: 200px;
            background-color: rgb(222, 222, 222);
          "
          class="text-center mx-auto"
        >
          <b style="font-size: 15px; color: #00913e">
            Un asesor experto de {{ $store.state.config.asgNombre }} te
            contatará a la brevedad</b
          >
        </div>-->
      </div>
      <div class="col-12 col-sm-6 order-1 order-sm-2 p-0 text-center">
        <img
          src="img/hdi-logo.svg"
          height="110"
          width="110"
          class="d-block d-sm-none text-center mx-auto img-fluid"
          alt=""
        />
        <!-- BOTON Linea-->
        <img
          src="img/btn_linea.svg"
          height="70"
          alt="compra-linea"
          class="btn mx-auto text-center"
          tabindex="0"
          target="_blank"
          rel="nofollow"
          role="button"
          @click="conectarEmision()"
          v-bind:class="{
            disabled: this.$store.state.config.habilitarBtnEmision,
          }"
          v-if="$store.state.config.emision === true"
        />
      </div>
    </div>
  </div>
</template>
<script>
import SaveLead from "~/plugins/saveTrigarante";
const motorCobro = process.env.motorCobro;
const sitio = process.env.sitio;

const saveLead = new SaveLead();

export default {
  data: function () {
    return { show: false };
  },
  methods: {
    conectarEmision() {
      if (!this.$store.state.config.habilitarBtnEmision) {
        this.$store.state.config.habilitarBtnInteraccion = true;
        this.$store.state.config.habilitarBtnEmision = true;
        var jsonEcomerseEmision = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid: false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionEcommerce,
          idEstadoCotizacion: 6, //segun Fredo
          idTipoContacto: 6, //segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadEmision(
            JSON.stringify(jsonEcomerseEmision),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            resp = resp.data.data;

            /*Se valida que la respuesta no contenga ceros en los ID's*/
            if (
              resp.idSolicitudes != 0 &&
              resp.idCotizacionesAli != 0 &&
              resp.idCotizaciones != 0 &&
              resp.idProductoSolicitud != 0 &&
              resp.idProspecto != 0 &&
              this.$store.state.formData.precio > 1000
            ) {
              //Conexion a motor de pago online
              let peticion =
                resp.idSolicitudes +
                "|" +
                resp.idCotizacionesAli +
                "|" +
                resp.idCotizaciones +
                "|" +
                resp.idProductoSolicitud +
                "|" +
                resp.idProspecto +
                "|" +
                sitio;
              let x = Buffer.from(JSON.stringify(peticion)).toString("base64");
              x = x.replace('"', "");
              window.open(motorCobro + "/?id=" + x, "_blank");
            }
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    state.config.accessToken = resp.data.accessToken;
                  }
                  this.conectarEmision();
                })
                .catch((error) => {
                  this.$store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });
                });
            } else {
              this.$store.state.idEndPoint = 440;
              this.catchStatusAndMessage(error, jsonEcomerseEmision);
            }
          });
      }
    },
    saveInteraccion() {
      if (!this.$store.state.config.habilitarBtnInteraccion) {
        this.$store.state.config.habilitarBtnInteraccion = true;
        this.$store.state.config.habilitarBtnEmision = true;
        document.getElementById("tooltip_example").className = "d-block";

        var jsonEcomerse = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
            this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionInteraccion,
          idEstadoCotizacion: 7, //por defectro segun Fredo
          idTipoContacto: 1, //por defectro segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        saveLead
          .saveLeadInteraccion(
            JSON.stringify(jsonEcomerse),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            //Conexion a motor de pago online
            console.log("INTERACCION OK....");
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.$store
                .dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.saveInteraccion();
                })
                .catch((error) => {
                  this.$store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });
                });
            } else {
              this.$store.state.idEndPoint = 442;
              this.catchStatusAndMessage(error, jsonEcomerse);
            }
          });
      }
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
   
  },
};
</script>
<style scoped>
*,
*::before,
*::after {
  box-sizing: border-box;
}
.content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-asesor {
  position: absolute;
  top: 95px;
}
</style>
