<template>
  <div>
        <div class="msj">
      <!-- NOMBRE -->
      <p><span>Tenemos increíbles descuentos, por favor ponte en contacto con nosotros para recibir más información</span></p>
      <!-- TELEFONO -->
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
          class="btn">
      <svg class="icons">
      <use xlink:href="#llamada"/>
    </svg>
    &nbsp;Llamar Ahorra&nbsp;
    <svg class="icons">
      <use xlink:href="#proximo"/>
    </svg>
  </a>
    </div>
    </div>
</template>