<template>
  <div>
    <div class="msj px-1">
      <p>
        <span><b v-if="$store.state.ejecutivo.nombre === ' '|| $store.state.ejecutivo.nombre === '' || $store.state.ejecutivo.nombre === undefined || $store.state.ejecutivo.nombre === null ">Un ejecutivo </b><b v-else>{{$store.state.ejecutivo.nombre}}</b></span> se pondrá en contacto contigo o llama al
        <span><b>55{{$store.state.config.telefonoAS}}</b></span>
      </p>
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
          class="btn">
          <svg class="icons">
      <use xlink:href="#llamada"/>
    </svg>
    &nbsp;Llamar Ahora&nbsp;
    <svg class="icons">
      <use xlink:href="#proximo"/>
    </svg>
        </a>
    </div>
  </div>
</template>