<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <a id="btnTop" :class="$store.state.config.showHotAlert ? 'botonTop-upper' : 'botonTop'" :href="this.$store.state.config.btnTop + '#formcotizar'">
      <img :src="$store.state.config.pathImg + 'pixel1x1.svg'" alt="Top" class="img-sprite botonTopImg">
      <span class="botonTopSpan"> Ir Arriba</span>      
    </a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function () {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;

        let cadena = window.location.href;
        let primero = cadena.search("#formcotizar")
        let separado;
        let cad2 = "";
        // se le quita el ultimo

        if (primero) {
          separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
          separado.forEach(element => {
            cad2 += element.replaceAll("#formcotizar", "")
          });
        }
        cadena = cadena.substring(0, primero + 0) + cad2
        cadena = cadena.split(' ').join(' ').trim();

        this.$store.state.config.btnTop = cadena;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>

<style scoped>
.botonTop,
.botonTop-upper {
  background: #026830;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.botonTop-upper {
  bottom: 4.5rem;
}

.botonTopImg {
  width: 20px;
  background-position: -430px -32px;
  background-size: 503px
}

.botonTopSpan {
  color: #ffffff;
  font-size: 16px;
}

.botonTop-upper:hover,
.botonTop:hover {
  background: #0eb157;

}

@media (min-width: 319px) {
  .botonTop-upper {
    bottom: 6rem;
  }
}

@media (min-width: 425px) {
  .botonTop-upper {
    bottom: 5rem;
  }
}

@media (min-width: 447px) {
  .botonTop-upper {
    bottom: 4.5rem;
  }
}
</style>