<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-11 px-2 px-lg-0">
        <div class="navbar m-0 p-0 flex align-items-center justify-content-between">
          <!-- LOGO -->
          <div class="d-flex ps-md-5 align-items-center py-1">
            <a href="/" rel="noopener">
              <!-- <img src="/img/asg/logo/aba-certified.svg" :alt="$store.state.config.asgNombre" class="logocertified"/> -->
              <img 
                :src="this.$store.state.config.logoAseguradora" 
                :alt="this.$store.state.config.asgNombre" 
                class="img-fluid"
                width="70"
                height="70"
              />
            </a>
            <div
              class="d-none d-md-block ms-3"
            >
              <img 
                :src="this.$store.state.config.logoagenteAutorizado" 
                alt="agente autorizado"
                width="460"
                height="100"
                class="img-fluid"
              >
            </div>
          </div>
          <!-- BTN TEL -->
          <div class="btnTel">
            <a id="idTelDID" :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="tel" class="img-sprite telhead" width="25" height="25">
              <b> (55) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>