<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1 p-0">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/" rel="noopener">
            <!-- <img src="/img/asg/logo/aba-certified.svg" :alt="$store.state.config.asgNombre" class="logocertified"/> -->
            <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" :alt="$store.state.config.asgNombre" class="img-sprite logohead"/>
          </a>
          <!-- BTN TEL -->
          <!-- <div class="btnTel">
            <a id="idTelDID" :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <img src="/img/pixel1x1.svg" alt="tel" class="img-sprite telhead " >
              <b> (55) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>