<template>
  <div id="botonTop">
    <Header />
    <Modal />
    <!-- <Btn /> -->
    <div :class="$store.state.config.dominio+' -- VERSION 1'"></div>
    <nuxt />
    <!-- <Tarjeta /> -->
    <Footer />
  </div>
</template>
<script>
import Header from "~/components/common/HeaderGo.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
import Tarjeta from "~/components/utilities/ggmm.vue";
import Footer from "~/components/common/Footer.vue";
export default {
  components: {
    Header,
    Modal,
    Btn,
    Tarjeta,
    Footer
  }
};
</script>
