<template>
    <div class="container-fluid">
      <!-- FORM -->
      <div class="row">
        <div class="col-12">
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-xl-7 col-md-6 col-12 p-0 position-relative ">
              <h1 
                class="ms-lg-5" style="letter-spacing: -1px;">Cotiza tu seguro de auto HDI</h1>
              <div class="d-none d-md-block ">
                <!-- <img id="v2" :src="this.$store.state.config.pathImg+'hdiC.svg'" alt="promo" width="224" height="96" /> -->
              </div>
              <div class="col-7 mx-md-auto ms-lg-auto d-none d-md-block">
                <div>
                  <div id="barrarosaL" class="barrarosa"></div>
                  <div id="barrarosaC" class="barrarosa"></div>
                  <div class="font-weight-bold desc1 mb-0">{{$store.state.config.promoLabel}} {{$store.state.config.promo}} {{$store.state.config.desc}}</div>
                </div>
                <!-- 12p class="font-weight-bold desc1 mb-0">{{$store.state.config.promo}} {{$store.state.config.desc}}</p> -->
                  <div class="row desc2">
                    <div class="col-6 p-0">
                      <div class="text-white font-weight-bold text-center d-flex"> 
                        <p class="text-white mt-0 px-2" style="font-size: 24px;">{{this.$store.state.config.add}} </p> 
                        <p class="text-white msi">{{this.$store.state.config.msi}}</p>
                      </div> 
                    </div>
                    <div class="col-6 text-center m-auto" style="line-height: 23px;">
                      <p class="text-white mb-0 meses"> Meses </p>
                      <p class="text-white mt-0 intereses">Sin Intereses</p>
                    </div>
                    <!--<div class="col-12 text-center m-auto" style="line-height: 23px;">
                     <p>{{this.$store.state.config.extraMsg}}</p>
                    </div>-->
                    
                  </div>
                  <div>
                    <div id="barraBlueL" class="barraAzul"></div>
                    <div id="barraBlueC" class="barraAzul"></div>
                  </div>
                  
                  
              </div>
            <div class="d-none d-md-block" >
              <img v-if="this.$store.state.config.promoSpecial" class="promoi" width="100" height="100" :src="this.$store.state.config.promoImg" alt="promo">   
              <img class="l-carro" :src="this.$store.state.config.pathImg+'bgN.svg'" loading="lazy" alt="carro">     
            </div>
            <!-- <div class="d-none d-md-block" v-if="this.$store.state.config.promoSpecial">
              <img class="promoi" width="100" height="100" :src="this.$store.state.config.promoImg" alt="carro">     
            </div> -->
            </div>
            <cardpromo></cardpromo>
            <!-- FORM -->
            <div class="col-xl-4 col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
              <!-- <div class="col-8 offset-2 d-md-none">
                <img class="v2Head" :src="this.$store.state.config.pathImg+'hdiC.svg'" width="233" height="100" alt="promo"/>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- CONTENIDO -->
      <div class="row">
        <div class="col-12 cont p-0">
          <!-- beneficios -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="addCont mt-5">
                  <span>
                    Recibe todos los beneficios de
                    <b>HDI Seguro Autos</b>
                  </span>
                  <div class="row mt-5">
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" id="vial" :alt="$store.state.config.k2" class="img-sprite" >
                      <p>Asistencia vial</p>
                    </div>
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" id="auto" :alt="$store.state.config.k3" class="img-sprite" >
                      <p>Auto sustituto</p>
                    </div>
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" id="meses" :alt="$store.state.config.k4" class="img-sprite" >
                      <p>{{$store.state.config.msi}} Meses Sin Intereses</p>
                    </div>
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'hdiC.svg'" alt="promo" width="224" height="96" class="img-fluid" style="width:224px"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Sinonimo -->
          <section>
            <div class="bgColor">
              <div class="col-xl-10 offset-xl-1 py-1">
                <h2>HDI Seguros para autos ¿Quiénes son?</h2>
                <p>HDI Seguros es una empresa del grupo alemán Talanx. Ha venido consolidando su reputación desde 1903, aunque en sus inicios aseguraba empresas pertenecientes al sector metalúrgico de Alemania, su sede en 1919 fue establecida en Hannover y se mantiene ahí hasta la fecha.</p>
                <p>Durante muchos años tuvo operaciones en Latinoamérica, pero no es hasta 2011 que logra establecer HDI Seguros México, actualmente es una de las compañías aseguradoras con mayor presencia y mejor reputación.</p>
                <p> En México protege cerca de 1.12 millones de autos, a partir de ahí es posible observar el nivel de fidelización que ha alcanzado en el poco tiempo que lleva dentro del territorio, al brindar los mejores servicios, coberturas y precios.</p>
                <p>HDI Seguros cuenta con diversos tipos de seguros, sin embargo uno de los más importantes dadas las necesidad actuales: Seguros de autos.</p>
                <p>Las coberturas ofrecidas por HDI Seguros México, son de las más eficientes, ya que cuenta con servicios básicos, hasta pólizas novedosas inigualables en cualquier aseguradora.</p>
              </div>
            </div>
          </section>
          <!--Tranquilidad -->
          <section>
            <div class="col-xl-10 offset-xl-1">
              <h2>¿Porqué contratar mi seguro para autos con Seguros HDI? ¿Cuáles son los beneficios de HDI?</h2>
              <p>Cómo ya mencionamos, una de las razones por las que HDI Seguros es una de las opciones que más te conviene, recae en la reputación que ha logrado adquirir a lo largo de los años, siendo una de las mejores debido a la atención y los servicios que te ofreces. </p>
              <p>No sólo te brinda la mejor protección, además ofrece las coberturas reglamentarias en México y te ofrece opciones exclusivas que se acomoden a tus necesidades. </p>
              <p>Entre las más llamativas y únicas de HDI Seguros Autos, se encuentran:</p>
              <ul>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Garantía y la mejor calidad en reparaciones de hojalatería y pintura.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Indemnización en caso de pérdida total, la garantía que ofrecen es realizarla en dos días y por cada día de atraso, se comprometen a darte mil pesos extra.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Protección para mascotas en caso de accidente, HDI Seguros entiende que los peluditos son parte primordial de las familias, por ello extiende su protección a los más indefensos, en caso de accidente, te brindará $15 mil pesos para gastos veterinarios y/o funerarios.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Apoyo mecánico y vial sin importar el lugar en el que te encuentres.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;HDI Seguros se preocupa por tu seguridad, por lo que si te encuentras en estado de ebriedad, podrás solicitar un chofer privado.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Gastos médicos en caso de accidentes graves, los cuáles incluyen pago de cirugías estéticas en caso de ser necesarias.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Cero deducible en caso de robo total.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Seguros para llantas y rines en caso de robo, ya que son algunas de las autopartes con mayor incidencia de robo.</li>
              </ul>
              <p>Estos sólo son algunos de los beneficios que existen al contratar Seguros de Autos HDI, cómo te podrás dar cuenta brindan beneficios que exceden los brindados por las demás aseguradoras, garantizan tu plena protección y seguridad, además de ver por tus seres queridos, sin importar que sean humanos o no.</p>
              <h2>Ante que incidentes y siniestros me protege HDI Seguros</h2>
              <p>La experiencia que tiene HDI seguros autos en México y toma en cuenta que su capital tiene una fuerte tasa de accidentes los cuales te pueden preocupar en tu día a día.</p>
              <p>Cada póliza está hecha pensando en tu seguridad y protección, además tomar en cuenta todos los sucesos que podrían poner en riesgo  tu seguridad y la de quienes te rodean.</p>
              <p> Los siniestros antes los que Seguros HDI te protege son los siguientes:</p>
              <ul>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Emergencias médicas</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Fallas mecánicas</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Desastres naturales (terremotos, inundaciones, huracanes, etc.,)</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Cualquier ataque al vehículo, ya sea un asalto, en una manifestación o robo de autopartes</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Accidentes viales ocasionados por el asegurado o terceros</li>
              </ul>
              <h2>¿Cuáles son los tipos de paquetes con los que cuentan los Seguros de Autos HDI?</h2>
              <p>HDI Seguros tiene una variedad de paquetes y planes de seguros que te podrían interesar, además de que cada uno de ellos se adapta a tus distintas necesidades, son amigables con tu bolsillo.</p>
              <p>Sus distintos planes abarcan desde las necesidades más sencillas y fundamentales, hasta las más rigurosas y exigentes dentro del mercado.</p>
              <ul>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Cobertura Básica o Responsabilidad Civil</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Cobertura Limitada</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Cobertura Amplia</li>
              </ul>
              <p>Cualquiera de estas coberturas ofrece las siguientes protecciones:</p>
              <ul>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Cobertura de Responsabilidad Civil: Un seguro de daños a terceros ajenos a Seguros HDI, cubre cualquier gasto material o médico ocasionado por un siniestro por parte del asegurado.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Gastos médicos: Cubre todos los gastos médicos en caso de accidente:</li>
              </ul>
              <ul>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Primeros auxilios</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Ambulancias</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Hospitalización</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Cirugías</li> 
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Tratamientos y medicamentos</li>
              </ul>
              <h2>¿Cuáles son los planes Premium de Seguros para autos HDI?</h2>
              <p>Cómo ya mencionamos además puede cubrir las necesidades más exigentes de los usuarios, por ello cuenta con paquetes especializados:</p>
              <ul>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Amante de los Autos: Este paquete brinda una cobertura de robo de autopartes, reparación en agencia y 10% extra de indemnización por pérdida total, además tiene un 0% de deducible, entre otros muy convenientes y llamativos beneficios.</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Auto-siempre:Este plan brinda un seguro para llantas y rines,asistencia vial sin límites, reparación de llantas,  además te ofrece un auto sustituto por 30 días en caso de que el propio se encuentre inhabilitado.</li>
              </ul>
              <p>HDI Seguros se preocupa por exceder tus expectativas, por ello te brinda planes exclusivos de la compañía, que no encontrarás en ningún otro lugar</p>
              <p>Recuerda que cualquiera de estos planes lo puedes cotizar aquí</p>
              <h2> Estoy interesado ¿Cuál es la cobertura de la póliza de autos en Seguros HDI?</h2>
              <p> Al momento de considerar contratar una póliza, siempre es necesario saber el tipo de coberturas que incluye la póliza y los deducibles a los que te atienes, es por ello que te brindamos las principales coberturas y beneficios de tu seguro.</p>
              <!-- TABLA -->
              <div class="table-responsive">
                <table class="table table-striped ">
                  <thead class="text-center">
                    <tr>
                      <th>COBERTURA</th>
                      <th>DESCRIPCIÓN </th>
                      <th>SUMA ASEGURADA</th>
                      <th>DEDUCIBLE Y COASEGURO</th>
                    </tr>
                  </thead>
                  <tbody class="text-start">
                    <!-- Daños Materiales -->
                    <tr>
                      <td>Daños Materiales</td>
                      <td>Cubre daños o pérdidas que pueda sufrir el auto asegurado por robo, fenómenos naturales o manifestaciones. </td>
                      <td>El valor será definido conforme valor comercial al momento del siniestro, valor de factura (sólo para últimos modelos), valor convenido al momento de la contratación. </td>
                      <td>3%, 4%, 5%, 10% o 15% <strong>Deducible en cristales: <br></strong> 20% sobre el valor de la reposición. <br> <strong>Coaseguro:</strong>  20% sobre el monto del daño. </td>
                    </tr>
                    <!-- Robo Total -->
                    <tr>
                      <td>Robo Total</td>
                      <td>Cubre la indemnización del auto por robo total, en caso de recuperación, se cubren los daños materiales existentes. </td>
                      <td>Será definido conforme el valor comercial, de factura o convenido en póliza.</td>
                      <td> <strong>Deducible:</strong> 3%, 4%, 5%, 10% o 15%. Aplica según modelo.</td>
                    </tr>
                    <!-- Gastos médicos -->
                    <tr>
                      <td>Gastos médicos</td>
                      <td>Cubre al conductor y acompañantes en caso de accidentes, cubre: <br>a) Hospitalización.<br>b) Atención médica.<br>c) Enfermeros.<br>d) Ambulancia.<br>e) Gastos funerarios<br>f) Aparatos ortopédicos o prótesis.<br>g) Gastos por cirugía estética.<br></td>
                      <td>$1,000,000.00</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Responsabilidad Civil Daños a Terceros -->
                    <tr>
                      <td>Responsabilidad Civil Daños a Terceros</td>
                      <td>Cubre los daños ocasionados a cualquier persona que use el auto asegurado, como:<br>a) Lesiones corporales o la muerte a terceros.Excepto cuando estos hayan sido ocupantes del auto asegurado durante el siniestro.<br>b) Daños Materiales a terceros en sus bienes.</td>
                      <td>$3,500,000.00</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Asistencia Vial -->
                    <tr>
                      <td>Asistencia Vial</td>
                      <td>Brinda servicios como grúa, gasolina,cerrajero, apoyo  para el cambio de tu llanta de refacción,paso de corriente y auxilio mecánico.</td>
                      <td>3 eventos al años, envío de gasolina corre por el asegurado y límite de 5 litros. </td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Asistencia Jurídica -->
                    <tr>
                      <td>Asistencia Jurídica</td>
                      <td>A consecuencia de daños a terceros: trámite de la libertad tanto del asegurado como del vehículo, además del pago de todos los gastos legales</td>
                      <td>Corresponde a los $3,500,000.00 de RC</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Asistencia en viajes -->
                    <tr>
                      <td>Asistencia en viajes</td>
                      <td>Aplica en viajes nacionales e internacionales </td>
                      <td>$5,000.00 dólares por un evento</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Asistencia funeraria  -->
                    <tr>
                      <td>Asistencia funeraria </td>
                      <td>En caso de muerte por accidente.</td>
                      <td>Cubre al titular, dos ocupantes y/o dos muertes de terceros.</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Traslado en caso de ebriedad -->
                    <tr>
                      <td>Traslado en caso de ebriedad</td>
                      <td>Aplica en caso de que el asegurado se encuentre imposibilitado por ebriedad.</td>
                      <td>3 eventos al año</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Auto sustituto -->
                    <tr>
                      <td>Auto sustituto</td>
                      <td>Será proporcionado por robo total del auto asegurado. </td>
                      <td>7 días</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Garantía de pago en dos días hábiles -->
                    <tr>
                      <td>Garantía de pago en dos días hábiles</td>
                      <td>Por robo total se deberá indemnizar en los siguientes dos días, en caso de retraso por día, serán pagados $1000.00 pesos.</td>
                      <td>No Aplica</td>
                      <td>No Aplica</td>
                    </tr>
                    <!-- Garantía de calidad en hojalatería y pintura.  -->
                    <tr>
                      <td>Garantía de calidad en hojalatería y pintura. </td>
                      <td>Al tener una póliza recurrente con HDI Seguros, en caso de que cualquiera de estos servicios no sea de agrado del asegurado, el servicio será realizado de nuevo. </td>
                      <td>No Aplica</td>
                      <td>No Aplica</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h2>¿Qué necesito para contratar HDI Seguros de Autos?</h2>
              <p>Como toda contratación de servicios existe un trámite previo para el que deberás contar con la siguiente documentación:</p>
              <ul>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Comprobante de domicilio</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Tarjeta de circulación</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Factura original</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Fotografía del vehículo</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Identificación oficial</li>
                <li><img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" alt="check" class="img-sprite checK" width="20" height="20">&nbsp;Licencia de conducir</li>
              </ul>
              <p>Con estos sencillos documentos podrás iniciar tu proceso de contratación y disfrutar de los múltiples beneficios que Seguros HDI ofrece</p>
              <h2> Cotización de seguros para autos HDI</h2>
              <p> Debes considerar que para calcular el valor de una póliza es importante considerar factores como tu género, edad, modelo de auto, marca, año del vehículo, localidad en la que circulas, etc., estos factores podrían aumentar o disminuir el valor de la póliza. </p>
              <p> Sí estás interesado en adquirir tu seguro de auto en HDI Seguros, ¡No dudes en cotizar con nosotros!</p>
            </div>
          </section>
        </div>
      </div>
    </div>
</template>
<script>
  import formulario from "~/components/forms/newAutosForm.vue";
  import cardpromo from "~/components/alerta/alerta.vue";
  import getInsurerPromo from "~/plugins/promoData.js";
  import telefonoService from "~/plugins/telefonoService.js";
  export default {
    layout: "index",
    components: {
      formulario,
      cardpromo
    },
    beforeCreate() {
      //POR ASEGURADORA
      this.$store.state.config.aseguradora = "HDI";
      this.$store.state.config.emision = true;
      this.$store.state.config.interaccion = true;
      this.$store.state.config.grupoCallback = "VN HDI";
      this.$store.state.config.from = "DOMINIO-HDI";
      this.$store.state.config.dominioCorreo = "AUTOS|HDI|hdiseguro-mx";
      this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
      this.$store.state.config.descuento = 25;
      this.$store.state.config.idPagina = 362;
      this.$store.state.config.idSubRamo = 32;
      this.$store.state.config.idMedioDifusion = 2853;
      this.$store.state.config.idMedioDifusionEcommerce =2974;
      this.$store.state.config.idMedioDifusionInteraccion =2975;
      this.$store.state.config.urlGracias = "/thank-you"

      this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
      this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
      this.$store.state.config.clase1="adornoNormal"
      this.$store.state.config.colorPromo="colorNormal"
    },
    async created() {

       
    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        console.log( telefono.data.telefono )
      }	
    } catch (error) {
      console.log(error);
    }


    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
    head() {
      return {
        title: "HDI Seguros de autos- ¡Cotiza gratis Seguros HDI en Segundos!",
        meta: [
          {
            hid: "keywords",
            name: "keywords",
            content: "HDI Seguros, Seguros HDI, HDI Seguros México, HDI Seguros Autos, Seguros de Autos HDI, Aseguradora HDI."
          },
          {
            hid: "description",
            name: "description",
            content:"Cotiza seguros para autos HDI con la mejor aseguradora, beneficios y coberturas flexibles, cotiza HDI Seguros en segundos. "
          },
          { hid: "robots", name: "robots", content: "index, follow" },
          {
            hid: "author",
            name: "author",
            content: "hdiseguro.mx"
          },
          {
            hid: "sitemap",
            rel: "sitemap",
            type: "application/xml",
            title: "sitemap",
            href: "sitemap.xml"
          },
          { hid: 'max-video-preview', name: 'max-video-preview', property: 'max-video-preview', content: '30' }
        ],
        link: [
          {
            hid: "canonical",
            rel: "canonical",
            href: "https://hdiseguro.mx/"
          },
        ]
      };
    }
  };
</script>
