<template>
  <div class="col-12 d-md-none px-1">
    <div class="contenedorPromo m-auto">
      <div class="container-fluid p-0 m-0" :class="this.$store.state.config.clase1">
        <div class="row pb-0 px-2 pt-3 m-0">
          <div class="text-center my-auto" :class="this.$store.state.config.clase2">
            <img
              :src="this.$store.state.config.logoAseguradora"
              alt="Logo Aseguradora"
              class="imgPromociones img-fluid"
              width="70"
              height="70"
            />
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-3 my-auto" v-if="this.$store.state.config.promoSpecial"
          >
            <img
              :src="this.$store.state.config.promoImg"
              alt="logo promocion"
              class="ms-lg-3 ms-3 img-fluid logo-promo"
              width="85"
              height="85"
            />
          </div>
          <div class="col-8 col-sm-7 col-md-8 col-lg-6 my-auto" style="position:relative" :class="this.$store.state.config.clase3">
            <small class="labelPromo"
              >{{ this.$store.state.config.promoLabel }}
            </small>
            <p :class="this.$store.state.config.colorPromo">
              {{ this.$store.state.config.desc }}
            </p>
            <small class="msiPromo">{{
              this.$store.state.config.msi
            }}</small>
            
            <small class="labelendPromo"> {{ this.$store.state.config.extraMsg }} </small>
          </div>
        </div>
        <div class="row justify-content-center bg-agente">
          <div class="col-12">
            <img
              :src="this.$store.state.config.logoagenteAutorizado"
              alt="agente autorizado"
              width="280"
              height="80"
              class="img-fluid mx-auto d-block"
            />
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
</script>
<style scoped>
.colorNormal{background:#026830;color:#fff;text-align:center;font-weight:bold;font-size:1.1rem;margin-bottom:0;padding:0.5rem 0.2rem;border-radius:5px;}
.adornoNormal{border:4px dotted #026830;border-radius:6px;}

.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted #ff0049;border-radius:6px;}
.labelPromo{position:absolute;top:-15px;left:-10px;background:#026830;color:#fff;border-radius:10px;padding:0px 12px;border: solid 2px;}
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:15px;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}

.bg-agente{
  margin: 0 0 0 1px;
  padding: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgba(233, 235, 239, 0.6);  
}


/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
.labelPromo{position:absolute;top:-15px;left:-10px;background:#026830;color:#fff;border-radius:10px;padding:0px 12px;}  
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:15px;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
}

@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
  p {
    font-size: 17px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  p {
    font-size: 15px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  p {
    font-size: 15px;
  }
}
</style>

