<template>
    <div class="container-fluid">
      <!-- FORM -->
      <div class="row">
        <div class="col-12">
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-xl-7 col-md-6 col-12 p-0 position-relative ">
              <h1 class="ms-lg-5">Cotiza tu seguro de auto HDI</h1>
              <div class="d-none d-md-block ">
                <!-- <img id="v2" :src="this.$store.state.config.pathImg+'hdiC.svg'" alt="promo"/> -->
              </div>
              <div class="col-7 d-none d-md-block ms-auto mt-5">
                <div>
                  <div id="barrarosaL" class="barrarosa"></div>
                  <div id="barrarosaC" class="barrarosa"></div>
                  <div class="font-weight-bold desc1 mb-0">{{$store.state.config.promoLabel}} {{$store.state.config.promo}} {{$store.state.config.desc}}</div>
                </div>
                <!-- <p class="font-weight-bold desc1 mb-0">{{$store.state.config.promo}} {{$store.state.config.desc}}</p> -->
                  <div class="row desc2">
                    <div class="col-6 p-0">
                      <div class="text-white font-weight-bold text-center d-flex"> 
                        <p class="text-white mt-0 px-2" style="font-size: 24px;">{{this.$store.state.config.add}} </p> 
                        <p class="text-white msi">{{this.$store.state.config.msi}}</p>
                      </div> 
                    </div>
                    <div class="col-6 text-center m-auto" style="line-height: 23px;">
                      <p class="text-white mb-0 meses"> Meses </p>
                      <p class="text-white mt-0 intereses">Sin Intereses</p>
                    </div>
                    <!--<div class="col-12 text-center m-auto" style="line-height: 23px;">
                     <p>{{this.$store.state.config.extraMsg}}</p>
                    </div>-->
                    
                  </div>
                  <div>
                    <div id="barraBlueL" class="barraAzul"></div>
                    <div id="barraBlueC" class="barraAzul"></div>
                  </div>
                  
                  
              </div>
            <div class="d-none d-md-block">
              <img class="promoi" width="100" height="100" v-if="this.$store.state.config.promoSpecial" :src="this.$store.state.config.promoImg" alt="promo">   
              <img class="l-carro" :src="this.$store.state.config.pathImg+'bgN.svg'" loading="lazy" alt="carro">     
            </div>
            <!-- <div class="d-none d-md-block" v-if="this.$store.state.config.promoSpecial">
              <img class="promoi" width="100" height="100" :src="this.$store.state.config.promoImg" alt="carro">     
            </div> -->
            </div>
            <cardpromo></cardpromo>
            <!-- FORM -->
            <div class="col-xl-4 col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
              <!-- <div class="col-8 offset-2 d-md-none">
                <img class="v2Head" :src="this.$store.state.config.pathImg+'hdiC.svg'" width="233" height="100" alt="promo"/>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- CONTENIDO -->
      <div class="row">
        <div class="col-12 cont p-0">
          <!-- beneficios -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="addCont mt-5">
                  <span>
                    Recibe todos los beneficios de
                    <b>HDI Seguro Autos</b>
                  </span>
                  <div class="row mt-5">
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" id="vial" :alt="$store.state.config.k2" class="img-sprite" >
                      <p>Asistencia vial</p>
                    </div>
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" id="auto" :alt="$store.state.config.k3" class="img-sprite" >
                      <p>Auto sustituto</p>
                    </div>
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'pixel1x1.svg'" id="meses" :alt="$store.state.config.k4" class="img-sprite" >
                      <p>{{$store.state.config.msi}} Meses Sin Intereses</p>
                    </div>
                    <div class="col-12 col-sm-3">
                      <img :src="this.$store.state.config.pathImg+'hdiC.svg'" alt="promo" width="224" height="96" class="img-fluid" style="width:224px"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Sinonimo -->
          <section>
            <div class="bgColor">
              <div class="col-xl-10 offset-xl-1 py-1">
                <h2>HDI Seguros para autos ¿Quiénes son?</h2>
                <p>HDI Seguros es una empresa del grupo alemán Talanx. Ha venido consolidando su reputación desde 1903, aunque en sus inicios aseguraba empresas pertenecientes al sector metalúrgico de Alemania, su sede en 1919 fue establecida en Hannover y se mantiene ahí hasta la fecha.</p>
                <p>Durante muchos años tuvo operaciones en Latinoamérica, pero no es hasta 2011 que logra establecer HDI Seguros México, actualmente es una de las compañías aseguradoras con mayor presencia y mejor reputación.</p>
                <p> En México protege cerca de 1.12 millones de autos, a partir de ahí es posible observar el nivel de fidelización que ha alcanzado en el poco tiempo que lleva dentro del territorio, al brindar los mejores servicios, coberturas y precios.</p>
                <p>HDI Seguros cuenta con diversos tipos de seguros, sin embargo uno de los más importantes dadas las necesidad actuales: Seguros de autos.</p>
                <p>Las coberturas ofrecidas por HDI Seguros México, son de las más eficientes, ya que cuenta con servicios básicos, hasta pólizas novedosas inigualables en cualquier aseguradora.</p>
              </div>
            </div>
          </section>
          <!--Tranquilidad -->
          <section>
            <div class="col-xl-10 offset-xl-1 p-0">
            </div>
          </section>
        </div>
      </div>
    </div>
</template>
<script>
  import formulario from "~/components/forms/newAutosForm.vue";
  import cardpromo from "~/components/alerta/alerta.vue";
  import getInsurerPromo from "~/plugins/promoData.js";
  import telefonoService from "~/plugins/telefonoService.js";
  export default {
    layout: "indexgo",
    components: {
      formulario,
      cardpromo
    },
    beforeCreate() {
      //POR ASEGURADORA
      this.$store.state.config.aseguradora = "HDI";
      this.$store.state.config.emision = true;
      this.$store.state.config.interaccion = true;
      this.$store.state.config.grupoCallback = "VN HDI";
      this.$store.state.config.from = "DOMINIO-HDI";
      this.$store.state.config.dominioCorreo = "AUTOS|HDI|hdiseguro-mx";
      this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
      this.$store.state.config.descuento = 25;
      this.$store.state.config.idPagina = 362;
      this.$store.state.config.idSubRamo = 32;
      this.$store.state.config.idMedioDifusion = 3066;
      this.$store.state.config.idMedioDifusionEcommerce =3078;
      this.$store.state.config.idMedioDifusionInteraccion =3077;
      this.$store.state.config.urlGracias = '/brand/thank-you'

      this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
      this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
      this.$store.state.config.clase1="adornoNormal"
      this.$store.state.config.colorPromo="colorNormal"
    },
    async created() {
       
    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        console.log( telefono.data.telefono )
      }	
    } catch (error) {
      console.log(error);
    }

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
    head() {
      return {
        title: "HDI Seguros de autos- ¡Cotiza gratis Seguros HDI en Segundos!",
        meta: [
          {
            hid: "keywords",
            name: "keywords",
            content: "HDI Seguros, Seguros HDI, HDI Seguros México, HDI Seguros Autos, Seguros de Autos HDI, Aseguradora HDI."
          },
          {
            hid: "description",
            name: "description",
            content:"Cotiza seguros para autos HDI con la mejor aseguradora, beneficios y coberturas flexibles, cotiza HDI Seguros en segundos. "
          },
          { hid: "robots", name: "robots", content: "index, follow" },
          {
            hid: "author",
            name: "author",
            content: "hdiseguro.mx"
          },
          {
            hid: "sitemap",
            rel: "sitemap",
            type: "application/xml",
            title: "sitemap",
            href: "sitemap.xml"
          },
          { name: 'max-video-preview', content: '30' }
        ],
        link: [
        {
            hid: "canonical",
            rel: "canonical",
            href: "https://hdiseguro.mx/brand"
          },
        ]
      };
    }
  };
</script>
