<template>
  <div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-6 d-none d-md-block ">
          <img class="" :src="this.$store.state.config.pathImg + 'bgN.svg'" alt="carro"> 
        </div>
        <div class="col-12 col-md-6 p-0 text-center text-md-start">
          <div>
            <div id="idGraciasGen">
              <span class="font-weight-bold" style="font-size:1.5rem;">Gracias por cotizar con HDI</span>
              <p v-if="!$store.state.msj">en breve te llamaremos espera nuestra llamada.</p>
            </div>
            <p class=" fz-24">Encontramos el mejor precio del seguro de tu auto :</p>
            <p class="text-center fz-24 border border-dark col-md-8 col-12 rounded">{{ this.$store.state.formData.marca }}
              {{ this.$store.state.formData.modelo }} {{ $store.state.formData.descripcion }}
              {{ this.$store.state.formData.detalle }} </p>
            <div class="text-center" v-if="$store.state.formData.precio > 0">
              <!-- PRECIO -->
              <span v-if="$store.state.formData.precio != 0 || $store.state.formData.precio != ''">Precio de tu
                seguro:</span>
              <br>
              <span class="font-weight-bold" style="font-size:2rem;"
                v-if="$store.state.formData.precio != 0 || $store.state.formData.precio != ''">{{ $store.state.formData.precio
                    | currency
                }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-12" v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj">
            <loader />
          </div>
          <div class="col-12 p-xl-0" v-if="$store.state.cargandocotizacion">
            <tabla />
          </div>
          <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-if="$store.state.msjEje">
            <rest />
          </div>
          <div class="col-xl-8 offset-xl-2 col-12 p-xl-0" v-else>
            <!-- <msjSinRes /> -->
          </div>
        </div>
      </div>
    </div>
    <logica-component />
  </div>
</template>

<script>
import logicaComponent from "~/components/common/logica.vue"
import tabla from "~/components/utilities/tabla.vue";
import rest from "~/components/utilities/rest.vue";
import msjSinRes from "~/components/utilities/msjSinRes.vue";
import loader from "~/components/utilities/preLoader.vue";
export default {
  layout: "thanksgo",
  components: {
    tabla,
    rest,
    msjSinRes,
    loader,
    logicaComponent
  },
  head() {
    return {
        title: "HDI Seguros de autos- ¡Cotiza gratis Seguros HDI en Segundos!",
        meta: [
          {
            hid: "keywords",
            name: "keywords",
            content: "HDI Seguros, Seguros HDI, HDI Seguros México, HDI Seguros Autos, Seguros de Autos HDI, Aseguradora HDI."
          },
          {
            hid: "description",
            name: "description",
            content:"Cotiza seguros para autos HDI con la mejor aseguradora, beneficios y coberturas flexibles, cotiza HDI Seguros en segundos. "
          },
          { hid: "robots", name: "robots", content: "index, follow" },
          {
            hid: "author",
            name: "author",
            content: "hdiseguro.mx"
          },
          {
            hid: "sitemap",
            rel: "sitemap",
            type: "application/xml",
            title: "sitemap",
            href: "sitemap.xml"
          },
        ],
        link: [
        {
            hid: "canonical",
            rel: "canonical",
            href: "https://hdiseguro.mx/brand/thank-you"
          }
        ]
      };
  }
};
</script>
